.block{
 display: flex;
 height: 30%;
 width: 35%;
 flex-wrap: wrap;
 justify-content: space-around;
  align-items: center;
  margin: 200px;
}
table{
  align-items: center;
  text-align: center;
  margin-right: 500px;

}
tr,th,table{
  border: 1px solid black;
  border-collapse: collapse;
}

.ul{
list-style: none;
display: flex;
justify-content: space-around;
}
.table{
  padding: 10%;
}